<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Thymeleaf practices</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">

</head>

<body>
    <h1>Lama nawaki</h1>



    <!-- <h2 th:text="${message}+'from variable message'"></h2> -->

    <!-- インライン処理 -->
    <h1 th:text="'hello thymeleaf from string inside text'"></h1>

    <br>
    <hr>
    <!-- 変数の出力 -->
    <h2>[['hello thymeleaf from inline execution!!']]</h2>

    <h3>[[${message}+'from variable with brackets']]</h3>

    <br>
    <hr>
    <!-- some literals and text inside span tags -->
    <span th:text="'some text'" /><br>
    <span th:text="123" /><br>
    <span th:text="true" /><br>
    <span th:text="null" /><br>

    <br>
    <hr>
    <!-- リテラル置換 -->
    <span th:text="|${message}|" /><br>

    <br>
    <hr>
    <!-- 算術演算子 -->
    <span th:text="(30*20+10/5-1)%3" /><br>

    <br>
    <hr>
    <!-- 論理演算子 -->
    <span th:text="true 
                    and false
                    or true
                    and not true
                    or !false"></span><br>


    <br>
    <hr>
    <!-- 比較と等価 -->
    <span th:text="1 < 10"></span><br>
    <span th:text="1 > 10"></span><br>
    <span th:text="1 <= 10"></span><br>
    <span th:text="1 >= 10"></span><br>
    <span th:text="1 == 10"></span><br>
    <span th:text="1 != 10"></span><br>

    <br>
    <hr>
    <!-- 条件演算子 -->
    <span th:text="true ? 'a'"></span><br>
    <span th:text="false ? 'b'"></span><br>
    <span th:text="true ? 'c':'C'"></span><br>
    <span th:text="true ?:'d'"></span><br>
    <span th:text="false?:'e'"></span><br>
    <span th:text="null?:'f'"></span><br>

    <br>
    <hr>
    <!-- expression with spel ${} *{}-->

    <div th:text="${hoge.publicField}"></div>
    <div th:text="${hoge['publicField']}"></div>
    <div th:text="${hoge.publicMethod()}"></div>
    <div th:text="${hoge.publicValue}"></div>
    <div th:text="${hoge['publicValue']}"></div>

    <br>
    <hr>

    <!-- skipped example of map and list in mapExample.html -->

    <!-- value set in class attributes -->

    <span th:class="'hello'+'world'">hello</span>

    <br>
    <hr>

    <!-- adding css and js and changing the background and tagline id value -->
    <div id="tag"></div>


    <br>

    <hr>
    <!-- object value inside Hoge object -->
    <div th:object="${hoge}">

        <div>name = [[*{name}]]</div>
        <div>name = [[*{value}]]</div>
    </div>

    <br>
    <hr>

    <!-- declare the local variable -->
    <div th:with="message='Hello World'">
        message=[[*{message}]]
    </div>

    <br>
    <hr>

    <!-- 条件による表示・非表示の切り替え -->
    <h1 th:if="${flag}">flag is true</h1>
    <h1 th:if="${!flag}">flag is false</h1>

    <!-- fragment examples -->


    <div id="fragsample" th:insert="fragment/frag"></div>

    <br>
    <hr>
    <div id="fragsample" th:insert="fragment/frag ::spider"></div>
    <br>
    <hr>


    <!-- script here -->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>